OFX/Schemas/OFXHome/ofxhome.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="institutions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="institution" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="fid"/>
              <xs:element type="xs:string" name="org"/>
              <xs:element type="xs:string" name="brokerid" minOccurs="0"/>
              <xs:element type="xs:string" name="url"/>
              <xs:element type="xs:string" name="ofxfail"/>
              <xs:element type="xs:string" name="sslfail"/>
              <xs:element type="xs:string" name="lastofxvalidation"/>
              <xs:element type="xs:string" name="lastsslvalidation"/>
              <xs:element name="profile" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="addr1" use="optional"/>
                      <xs:attribute type="xs:string" name="city" use="optional"/>
                      <xs:attribute type="xs:string" name="state" use="optional"/>
                      <xs:attribute type="xs:string" name="postalcode" use="optional"/>
                      <xs:attribute type="xs:string" name="country" use="optional"/>
                      <xs:attribute type="xs:string" name="csphone" use="optional"/>
                      <xs:attribute type="xs:string" name="tsphone" use="optional"/>
                      <xs:attribute type="xs:string" name="url" use="optional"/>
                      <xs:attribute type="xs:string" name="email" use="optional"/>
                      <xs:attribute type="xs:string" name="signonmsgset" use="optional"/>
                      <xs:attribute type="xs:string" name="bankmsgset" use="optional"/>
                      <xs:attribute type="xs:string" name="creditcardmsgset" use="optional"/>
                      <xs:attribute type="xs:string" name="invstmtmsgset" use="optional"/>
                      <xs:attribute type="xs:string" name="seclistmsgset" use="optional"/>
                      <xs:attribute type="xs:string" name="notes" use="optional"/>
                      <xs:attribute type="xs:string" name="addr2" use="optional"/>
                      <xs:attribute type="xs:string" name="billpaymsgset" use="optional"/>
                      <xs:attribute type="xs:string" name="emailmsgset" use="optional"/>
                      <xs:attribute type="xs:string" name="interxfermsgset" use="optional"/>
                      <xs:attribute type="xs:string" name="addr3" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>